* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    background-color: rgb(174, 174, 174, 0.4);
    height: 70px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 100px;
}


/* SECTION TEXTO*/

/* SECTION MARCAS*/
.logo_section-logo {
    width: 100px;
}

/* SECTION AUTOS*/

.item-img_section-services {
    max-width: 400px;
}